:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --acsent-text-color: #2196F3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #2F303A;
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
}

.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contacts__link, .filter-list, .clients__link, .work__img-wrapper, .privilege__icon-wrapper, .modal-form-checkbox-label, .modal-btn, .mobile-menu__close-btn, .social__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  background-color: var(--primary-white-color);
  font-family: var(--primary-font-family);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
}

.section_other-background {
  background-color: #F5F4FA;
}

/*.section {
     padding-top: 94px;
     padding-bottom: 94px;
}

.section_no-padding-top {
     padding-top: 0px;
  }

.section_other-background {
     background-color: #F5F4FA;
 }

.section__title { 
     margin-bottom: 50px; 
     text-align: center;  
     font-size: 36px;
     line-height: 1.17;
     letter-spacing: 0.03em;     
 }
*/
.logo {
  display: block;
  font-family: var(--secondary-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--acsent-text-color);
  /* &.header__logo {
         padding-top: 24px;
         padding-bottom: 25px; 
  } */
}
.logo.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo__part {
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo__part:hover, .logo__part:focus {
  color: var(--acsent-text-color);
}

.logo_theme_dark {
  color: var(--primary-white-color);
}

.social {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  color: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link.social__link_theme_dark {
  background: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
}
.social__link:hover, .social__link:focus {
  color: var(--primary-white-color);
  background-color: var(--acsent-text-color);
}

.social__icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  color: var(--primary-text-color);
  cursor: pointer;
}

.mobile-menu__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__icon:hover, .mobile-menu__icon:focus {
  fill: var(--acsent-text-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  min-height: 581px;
  min-width: 528px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000000;
  cursor: pointer;
}

.modal-btn-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-icon:hover, .modal-btn-icon:focus {
  fill: var(--acsent-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.modal-form-label {
  margin-bottom: 10px;
}

.modal-form-label-key {
  display: block;
  margin-bottom: 4px;
  font-family: var(--primary-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus, .modal-form-input:focus {
  outline: none;
  border-color: var(--acsent-text-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--acsent-text-color);
}

.label-textarea {
  margin-bottom: 20px;
}

.modal-form-text {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-text::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.modal-form-checkbox-label::before {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 3px;
  content: "";
  cursor: pointer;
  margin-right: 8px;
}
.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/icon-check.svg);
  border: none;
}
.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  border-color: var(--acsent-text-color);
}

.modal-form-link {
  color: var(--acsent-text-color);
}

.modal-form-btn {
  min-width: 200px;
  align-self: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--acsent-text-color);
  padding: 12px 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: #188CE8;
  outline: none;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: none;
}

.contact {
  display: none;
}

.burger-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

.burger-btn__icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(cubic-bezier(0.4, 0, 0.2, 1));
}
.burger-btn__icon:hover, .burger-btn__icon:focus {
  fill: var(--acsent-text-color);
}

/*.

//.header__container {
    align-items: center;
}

//.header__container, 
.navigation, 
.menu,
.contact {
    display: flex;
}

//.header__menu{
    margin-left: 93px;
} 

//.menu__item + .menu__item {
    margin-left: 50px;
}


//.menu__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;  
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

    &:hover,
    &:focus {
        color: var(--acsent-text-color);
    }
}

//.menu__link_current {
    position: relative;
    color: var(--acsent-text-color);

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: calc(100% + 1px);
        height: 4px;
        background-color: var(--acsent-text-color);
        border-radius: 2px;
        left: 0;
        bottom: -1px;
    }
}

//.contact {
    margin-left: auto;
}

//.contact__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--acsent-text-color);
    }
}

//.contact__item + .contact__item {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

//.contact__icon {
    fill: currentColor;
    margin-right: 10px; 
}*/
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-height: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/header-mobile-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #C4C4C4;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/header -mobile-img@2x.jpg");
  }
}
.hero__title {
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
}

.hero__btn {
  padding: 10px 32px;
  min-width: 200px;
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--acsent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px solid transparent;
}

/*.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;    
    text-align: center;
    margin-left: auto;
    margin-right: auto;     
    background-image: 
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero.jpg);     
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #C4C4C4;
}

.hero__title {
    margin-bottom: 30px;
    @include font(44px, 900, 60px);  
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.hero__btn {
    padding: 10px 32px;
    min-width: 200px;
    font-family: var(--primary-font-family);
    @include font(16px, 700, 30px);  
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--acsent-text-color);
    cursor: pointer;
    border-radius: 4px;
    border: 0px solid transparent;
}
*/
.privilege__item {
  width: 450px;
}
.privilege__item:not(:last-child) {
  margin-bottom: 30px;
}

.privilege__icon-wrapper {
  min-height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
}

.privilege__title {
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  text-align: center;
}

.privilege__text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/*.privilege {
    display: flex;     
}

.privilege__item {
    width: 270px;
    flex-basis: calc((100% - 90px) / 4);

   &:not(:last-child) {
        margin-right: 30px;
    }
}

.privilege__icon-wrapper {
    @extend %align;
    min-height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
}

.privilege__title {
    margin-bottom: 10px;
    margin-top: 30px;
    @include font(14px, 700, 16px);
    text-transform: uppercase;        
}

.privilege__text {        
    line-height: 1.71;
    color: var(--secondary-text-color);

}

*/
.work {
  display: flex;
}

.work__item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  position: relative;
}
.work__item:last-child {
  margin-right: 0px;
}

.work__link {
  display: block;
  text-decoration: none;
}

.work__img-wrapper {
  background-color: rgba(47, 48, 58, 0.8);
  min-width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.work__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--primary-white-color);
  text-decoration: none;
}

.team__item {
  width: 450px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__box {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
}

.team__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 16px;
}

/*.team {
    display: flex;
}

.team__item {
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
   flex-basis: calc((100% - 90px) / 4);

   &:not(:last-child) {
        margin-right: 30px;
    }
}

.team__box {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.team__title {
    margin-bottom: 10px;
    @include font(16px, 500, 19px);    
    letter-spacing: 0.03em;
    text-align: center;
}

.team__text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    text-align: center;
    margin-bottom: 16px; 
}


*/
.clients {
  display: flex;
  flex-wrap: wrap;
}

.clients__link {
  width: 210px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  background-color: var(--primary-white-color);
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--acsent-text-color);
  border: 1px solid var(--acsent-text-color);
}

.clients__item:not(:last-child) {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.clients__item:not(:last-child):nth-child(2n) {
  margin-right: 0px;
}
.clients__item:not(:last-child):nth-last-child(-n+2) {
  margin-bottom: 0px;
}

.clients__icon {
  fill: currentColor;
}

/*.clients {
   display: flex;
   justify-content: center;
 }

.clients__item:not(:last-child) {
    margin-right: 30px;
  }

.clients__link {
    @extend %align;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    background-color: var(--primary-white-color);
    color: #AFB1B8; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--acsent-text-color);
      border: 1px solid var(--acsent-text-color);
  }
}

.clients__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;       
  }

*/
.filter-list {
  margin-bottom: 50px;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 22px;
  min-width: 73px;
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  background: #F5F4FA;
  cursor: pointer;
  border: 0px solid transparent;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover, .filter-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--acsent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-btn.current {
  color: var(--primary-white-color);
  background: var(--acsent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-section {
  display: flex;
  flex-wrap: wrap;
  /*align-items: flex-start;    */
}

.gallery-list {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-list:hover, .gallery-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.gallery-item:nth-child(3n) {
  margin-right: 0px;
}
.gallery-item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.gallery-titel {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.gallery-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

.gallery-thumb {
  position: relative;
  overflow: hidden;
}

.gallery-thumb-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-list:hover .gallery-thumb-text, .gallery-list:focus .gallery-thumb-text {
  transform: translateY(0%);
}

.gallery-img-wrapper {
  padding: 20px 24px;
  min-width: 370px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.contacts__link {
  font-style: normal;
  line-height: 1.71;
  color: var(--primary-white-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--acsent-text-color);
}

.social__link_color_grey {
  color: rgba(255, 255, 255, 0.6);
}

.social__text,
.form__text {
  display: block;
  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.form__input {
  width: 450px;
  height: 50px;
  padding-left: 10px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
}
.form__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form__btn {
  display: flex;
  align-items: center;
  min-width: 200px;
  padding: 10px 29px;
  margin-left: 12px;
  cursor: pointer;
  border: none;
  background-color: var(--acsent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form__btn-text {
  align-items: center;
  text-align: center;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}

/*.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-background-color);
}

.footer__container-flex {
    display: flex;
    align-items: baseline;
}


.contacts {
    margin-top: 20px;
    min-width: 231px;
}

.contacts__item:not(:last-child) {
    margin-bottom: 9px;
    display: block;
}

.contacts__link {
     font-style: normal;
     line-height: 1.71;
     color: var(--primary-white-color);
     text-decoration: none;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

     &:hover,
     &:focus {
          color: var(--acsent-text-color);
     }
 }

.social__link_color_grey {
     color: rgba(255, 255, 255, 0.6);     
 }

.social_container {
    margin-left: 70px;
}

.social__text, 
.form__text {  
     display: block;     
     font-weight: 700;
     line-height: 1.14;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: var(--primary-white-color);
     margin-bottom: 20px;
 }

.form {            
     margin-left: auto;
 }

.form__label {
     display: flex;
 }


.form__input {         
    width: 358px;
    height: 50px;
    padding-left: 10px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--primary-white-color);

    &::placeholder {
        @include font(16px, 400, 20px);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);    
        }
 }     

   .form__btn {  
    display: flex;
    align-items: center;
    min-width: 200px;
    padding: 10px 29px;
    margin-left: 12px;
    cursor: pointer;
    border: none;   
    background-color: var(--acsent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;        
   }


   .form__btn-text { 
    align-items: center;
    text-align: center;
    margin-right: 10px; 
    @include font(16px, 700, 30px);      
    letter-spacing: 0.06em;        
    color: var(--primary-white-color);
   }
   *//*# sourceMappingURL=main.css.map */