:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --acsent-text-color: #2196F3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #2F303A;
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
}

.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__btn, .contacts__link, .clients__link, .work__img-wrapper, .privilege__icon-wrapper, .modal-form-checkbox-label, .modal-btn, .social__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  background-color: var(--primary-white-color);
  font-family: var(--primary-font-family);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
}

.section_other-background {
  background-color: #F5F4FA;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .section_no-padding-top {
    padding-top: 0px;
  }

  .section__title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}
.logo {
  display: block;
  font-family: var(--secondary-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--acsent-text-color);
}
@media screen and (max-width: 1199px) {
  .logo.header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .logo.footer__logo {
    text-align: center;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .logo.header__logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .logo.footer__logo {
    text-align: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .logo.header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo__part {
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo__part:hover, .logo__part:focus {
  color: var(--acsent-text-color);
}

.logo_theme_dark {
  color: var(--primary-white-color);
}

.social {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  color: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link.social__link_theme_dark {
  background: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
}
.social__link:hover, .social__link:focus {
  color: var(--primary-white-color);
  background-color: var(--acsent-text-color);
}

.social__icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 768px;
    position: relative;
    padding: 48px 40px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .is-open .mobile-menu__container {
    transform: translate(-50%, -50%);
  }

  .mobile-menu__close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    color: var(--primary-text-color);
    cursor: pointer;
  }

  .mobile-menu__icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__icon:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__icon:hover, .mobile-menu__icon:focus {
    fill: var(--acsent-text-color);
  }

  .mobile-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-nav__link {
    display: block;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-nav__link:hover, .mobile-nav__link:focus {
    color: var(--acsent-text-color);
  }

  .mobile-nav__link_current {
    position: relative;
    color: var(--acsent-text-color);
  }

  .mobile-contact__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-contact__phone {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.1764705882;
    letter-spacing: 0.02em;
    color: var(--acsent-text-color);
  }

  .mobile-contact__mail {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }

  .mobile-social {
    margin-top: 64px;
    display: flex;
  }

  .mobile-social__item:not(:last-child) {
    position: relative;
    margin-right: 10px;
  }
  .mobile-social__item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -20px;
    display: block;
    width: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }

  .mobile-social__item:not(:first-child) {
    margin-left: 10px;
  }

  .mobile-social__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2222222222;
    letter-spacing: 0.02em;
    color: var(--acsent-text-color);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000000;
  cursor: pointer;
}

.modal-btn-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-icon:hover, .modal-btn-icon:focus {
  fill: var(--acsent-text-color);
}

@media screen and (max-width: 479px) {
  .modal {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-height: 581px;
    min-width: 528px;
  }
}
/* 

.modal-btn {  
    @extend %align; 
    position: absolute;
    top: 8px;
    right: 8px;    
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: var(--primary-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;    
    color: #000000;
    cursor: pointer;
}



.modal-btn-icon {    
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            fill: var(--acsent-text-color);
        }
        */
/* } */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.modal-form-label {
  margin-bottom: 10px;
}

.modal-form-label-key {
  display: block;
  margin-bottom: 4px;
  font-family: var(--primary-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus, .modal-form-input:focus {
  outline: none;
  border-color: var(--acsent-text-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--acsent-text-color);
}

.label-textarea {
  margin-bottom: 20px;
}

.modal-form-text {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-text:focus, .modal-form-text:focus {
  outline: none;
  border-color: var(--acsent-text-color);
}
.modal-form-text::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox-label {
  font-size: 12px;
  /*font-size: 14px; 1200 px-i jamanak*/
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.modal-form-checkbox-label::before {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 3px;
  content: "";
  cursor: pointer;
  margin-right: 8px;
}
.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/icon-check.svg);
  border: none;
}
.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  border-color: var(--acsent-text-color);
}

.modal-form-link {
  color: var(--acsent-text-color);
}

.modal-form-btn {
  min-width: 200px;
  align-self: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--acsent-text-color);
  padding: 12px 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: #188CE8;
  outline: none;
}

@media screen and (min-width: 1200px) {
  modal-form-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}
.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .menu__link_current::after {
    width: calc(100% + 2px);
    bottom: 0px;
  }

  .contact__link {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1666666667;
  }

  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .contact__icon {
    margin-right: 8px;
  }
}
@media screen and (max-width: 767px) {
  .header__container {
    justify-content: space-between;
  }

  .burger-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }

  .burger-btn__icon {
    fill: #000000;
    transition: fill 250ms cubic-bezier(cubic-bezier(0.4, 0, 0.2, 1));
  }
  .burger-btn__icon:hover, .burger-btn__icon:focus {
    fill: var(--acsent-text-color);
  }

  .menu {
    display: none;
  }

  .contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .navigation,
.menu {
    display: flex;
  }

  .header__menu {
    margin-left: 88px;
  }

  .menu__item + .menu__item {
    margin-left: 50px;
  }

  .menu__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--acsent-text-color);
  }

  .menu__link_current {
    position: relative;
    color: var(--acsent-text-color);
  }
  .menu__link_current::after {
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    background-color: var(--acsent-text-color);
    border-radius: 2px;
    left: 0;
    bottom: -1px;
  }

  .contact {
    margin-left: auto;
  }

  .contact__link {
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--acsent-text-color);
  }

  .contact__item + .contact__item {
    display: flex;
    align-items: center;
  }

  .contact__icon {
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    align-items: center;
  }

  .header__menu {
    margin-left: 93px;
  }

  .menu__link_current::after {
    width: calc(100% + 1px);
  }

  .contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
  }

  .contact__item + .contact__item {
    margin-left: 30px;
  }

  .contact__icon {
    margin-right: 10px;
  }
}
.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #C4C4C4;
}

.hero__title {
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
}

.hero__btn {
  padding: 10px 32px;
  min-width: 200px;
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--acsent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 4px;
  border: 0px solid transparent;
}

@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet.jpg");
  }
}
@media screen and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (max-width: 1199px) and (min-resolution: 192dpi), screen and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet@2x.jpg");
  }
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.6153846154;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-height: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636363636;
  }
}
.privilege__icon-wrapper {
  min-height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
}

.privilege__title {
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
}

.privilege__text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 767px) {
  .privilege__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .privilege__title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .privilege {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .privilege__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .privilege {
    display: flex;
    flex-wrap: no-wrap;
    gap: 0px;
  }

  .privilege__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .privilege__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .section_no-padding-top {
    display: none;
  }
}
.work {
  display: flex;
}

.work__item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  position: relative;
}
.work__item:last-child {
  margin-right: 0px;
}

.work__link {
  display: block;
  text-decoration: none;
}

.work__img-wrapper {
  background-color: rgba(47, 48, 58, 0.8);
  min-width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.work__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--primary-white-color);
  text-decoration: none;
}

.team__item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.picture-img {
  width: 100%;
}

.team__box {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
}

.team__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 16px;
}

@media screen and (max-width: 1199px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.clients {
  display: flex;
}

.clients__link {
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  background-color: var(--primary-white-color);
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--acsent-text-color);
  border: 1px solid var(--acsent-text-color);
}

.clients__icon {
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .clients {
    flex-wrap: wrap;
    gap: 30px;
  }

  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (max-width: 767px) {
  .clients__item {
    flex-basis: calc((100% - 30px) / 2);
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    justify-content: center;
  }

  .clients__link {
    width: 170px;
  }

  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}
.filter {
  display: flex;
  align-items: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  padding: 6px 22px;
  min-width: 73px;
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  background: #F5F4FA;
  cursor: pointer;
  border: 0px solid transparent;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--primary-white-color);
  background-color: var(--acsent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__btn.current {
  color: var(--primary-white-color);
  background: var(--acsent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .filter {
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 15px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}
.gallery__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__link:hover, .gallery__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__img-wrapper {
  min-height: 110px;
  padding: 20px 24px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}

.gallery__titel {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.gallery__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

.gallery__thumb {
  position: relative;
  overflow: hidden;
}

.gallery__thumb-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 77px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__link:hover .gallery__thumb-text, .gallery__link:focus .gallery__thumb-text {
  transform: translateY(0%);
}

@media screen and (max-width: 767px) {
  .gallery__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .gallery__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .gallery__item {
    flex-basis: calc((100% - 30px) / 2);
  }

  .gallery__img-wrapper {
    flex-grow: 1;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.contacts__item {
  display: block;
}
.contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts__link {
  font-style: normal;
  line-height: 1.71;
  color: var(--primary-white-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--acsent-text-color);
}

.social__link_color_grey {
  color: rgba(255, 255, 255, 0.6);
}

.social__text,
.form__text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.form__input {
  height: 50px;
  width: 100%;
  padding-left: 10px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
}
.form__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form__btn {
  min-width: 200px;
  padding: 10px 29px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;
  background-color: var(--acsent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form__btn-text {
  align-items: center;
  text-align: center;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}

@media screen and (max-width: 767px) {
  .social__container {
    margin-top: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .social__text,
.form__text {
    display: block;
  }

  .form {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
  }

  .form__input {
    max-width: 450px;
  }

  .social__text,
.form__text {
    text-align: center;
  }

  .form__btn {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__tablet-container {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }

  .form {
    margin-top: 60px;
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container-flex,
.footer__tablet-container {
    display: flex;
    align-items: baseline;
  }

  .social__container {
    margin-left: 70px;
  }

  .contacts {
    margin-top: 20px;
    min-width: 231px;
  }

  .contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }

  .contacts__link {
    display: block;
  }

  .form {
    margin-top: 0;
    margin-left: auto;
  }

  .form__container {
    display: flex;
  }

  .form__input {
    min-width: 358px;
  }

  .form__btn {
    margin-left: 12px;
  }
}/*# sourceMappingURL=main.css.map */