.privilege__icon-wrapper {
    @extend %align;
    min-height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
}

.privilege__title {
    margin-bottom: 10px;
    margin-top: 30px;
    @include font(14px, 700, 16px);
    text-transform: uppercase;   
}

.privilege__text {        
    line-height: 1.71;
    color: var(--secondary-text-color);   
}

@media screen and (max-width: 767px) {
    
    .privilege__item:not(:last-child) {   
           margin-bottom: 30px;
   }
   
   .privilege__title { 
       text-align: center;   
   }
}


@media screen and (min-width: 768px) {
    .privilege {
        display: flex;  
        flex-wrap: wrap;
        gap: 30px;       
    }
    
    .privilege__item {
        flex-basis: calc((100% - 30px) / 2);      
    }
}




@media screen and (min-width: 1200px) {    
    .privilege {
        display: flex;
        flex-wrap: no-wrap;
        gap: 0px;         
    }
    
    .privilege__item {
        flex-basis: calc((100% - 90px) / 4);

        &:not(:last-child) {   
            margin-right: 30px;
    }
    }
}
       

